    <input type="checkbox" id="mmenu" />
    <div class="header">
        <a href="#" class="logo"></a>
        <div class="top_sec">
            <div class="spacer"></div>
            <div class="menu_right_sec">
                <div class="user">
                    <div class="img"><img src="assets/images/profile_img.jpg" alt="image"></div>
                    <label><span>User name</span></label>
                </div>
            </div>
        </div>
    </div>

    <div class="content_wrap">
        <div class="left_menus">
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/"><i class="fas fa-home"></i>Dashboard</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/crew_management"><i class="fas fa-users-cog"></i>Crew management</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/"><i class="fas fa-calendar-check"></i>Appointments</a>
                </li>
            </ul>
        </div>
        <div class="content_sec">
            <div class="content_sec_wrap">
                <router-outlet></router-outlet>
            </div>
            <div class="footer">Copyright © 2022 Crew Manager, All Rights Reserved.</div>
        </div>
    </div>
   